body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar .nav-links a:hover {
    color: #ddd;
}

.hero {
    background-image: url(y2k.jpg);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
}

.hero p {
    font-size: 24px;
    margin-top: 10px;
}

.products-section {
    padding: 40px 20px;
    text-align: center;
}

.products-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 24px;
    margin: 20px 0 10px;
}

.product-card p {
    font-size: 20px;
    color: grey;
}

.product-card button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.product-card button:hover {
    background-color: #007a63;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}